@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400italic,700italic,400,700);

$roboto-slab: 'Roboto Slab', serif;   

$orange: #FEA50D;
body{
    margin: 0;
    font-family: $roboto-slab;
    color: #909191;
    min-width: 320px;
}
.header{
    box-shadow: inset 0 -1px 0 0 #E4E8EB;
    padding: 16px 24px;
    h1{
        color: $orange;
        margin: 0;
    }
    .menu-open-close{
        float: left;
        margin-right: 5px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 26px;
        font-weight: bold;
        display: none;
        padding: 4px 8px;
        cursor: pointer;
    }
}

.main-wrapper{
    display: flex;
}

.menu{
    padding: 20px 0;
    margin: 0;
    width: 300px;
    list-style: none;
    box-shadow: inset -1px 0 0 0 #E4E8EB;
    &-item{
        padding: 10px 24px;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        cursor: pointer;
    }
    &-item:hover{
        color: $orange;
        border-left: 3px solid $orange;
        background-color: rgba(244, 180, 0, 0.1);
    }
    &-hr{
       margin: 10px 24px;
    }
}

.main{
    background-color: #F5F6F7;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    nav{
        display: flex;
        justify-content: space-between;
        h2{
            margin: 30px 0 0 0;
            color: #909191;
            font-size: 14px;
            font-weight: 500;
            line-height: 19px;
        }
        .add-products{
            outline: none;
            cursor: pointer;
            margin: 22px 0 16px 0;
            height: 42px;
            width: 195px;
            border-radius: 4px;
            background-color: $orange;
            box-shadow: inset 0 -1px 0 0 #E4E8EB, 0 3px 10px 0 #E4E8EB;
            border: none;
            color: #FFFFFF;
        }
    }
}

.search{
    border: 1px solid #E4E8EB;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 36px 24px;
    margin-bottom: 24px;
    display: flex;
    &-input{
        outline: none;
        height: 36px;
        border-radius: 3px;
        padding: 8px 16px;
        background-color: #F7F8F9;
        color: rgba(144, 145, 145, 0.8);
        font-size: 16px;
        line-height: 21px;
        border: none;
        width: 100%;
        margin-right: 24px;
    }
    &-unconfirmed{
        max-width: 285px; 
        min-width: 285px;                     
        #isUnconfirmed{
            width: 18px;
            height: 18px;
            margin: 9px 0px;
            float: left;
        }
        label{
            display: block;
            padding: 7px 0; 
            margin-left: 35px;                  
        }
    }
}
                 
.products-list{
    border: 1px solid #E4E8EB;
    border-radius: 5px;
    background-color: #FFFFFF;
    .products-filter ul{
        list-style: none;
        padding: 24px 16px;
        margin: 0;
        width: 100%;
        display: flex;
        li{
            margin-right: 16px;
            font-size: 14px;
            line-height: 19px;
            border: 1px solid #E4E8EB;
            border-radius: 5px;
            padding: 7px 16px;
            cursor: pointer;
        }
        li:hover{
            color: #FFFFFF;
            background-color: $orange;
        }
    }
}

.table-wrapper{
    .products-table{
        box-sizing: border-box;
        min-width: 500px;
        width: 100%;
        border-spacing: 0;
        border-top: 1px solid #E4E8EB;
        text-align: left;
        thead{
            background-color: rgba(254,165,13,0.08);
        }
        tr:nth-child(2n){
            background-color: #F7F8F9;
        }
        tbody tr:nth-child(2n+1){
            background-color: #FFFFFF;
        }
        td, th{
            padding: 15px 30px;
            color: #909191;	
            font-size: 14px;
            font-weight: 500;
            line-height: 19px;
        }
        tbody tr:hover{
            box-shadow:  4px 10px 6px -1px rgba(0, 0, 0, 0.15), 
            -4px 10px 6px -1px rgba(0, 0, 0, 0.15);
        }
        tbody tr:hover + tr{
            box-shadow: inset 0 27px 20px -20px rgba(0, 0, 0, 0.15),
        }
        /*tbody tr:hover {
            transform: scale(1);
            box-shadow: 0px 9px 18px 2px rgba(0, 0, 0, 0.16);
        }*/
    }
}
            
@media(max-width: 1135px){
    .menu{
        display: none;
    } 
    .header .menu-open-close{
        display: inline;
    }
    .header{
        padding: 16px 5%;
    }
}
@media(max-width: 875px){
    .products-list .products-filter ul{
        display: block;
        li{
            text-align: center;
            margin: 0;
        }    
    }
    .search{
        display: block;
    }  

}
@media(max-width: 600px){
    .table-wrapper{
        overflow-x: auto;
    }
}
@media(max-width: 400px){
    .search .search-unconfirmed{
        min-width: 250;
        label{
            font-size: 14px;
            margin-left: 22px;   
        }
    }
}